<!DOCTYPE html>
<html>
<head>
  <title>FeverNotes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="/" class="pure-menu-heading">FeverNotes</a>

  <ul>
    <%= render 'devise/menu/login_items' %>
    <%= render 'devise/menu/registration_items' %>
  </ul>
</nav>

<%= render 'notes/new_note_button' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="pure-u-g">
  <div class="pure-u-1-5 fever-note-list">
    <nav class="pure-menu pure-menu-open">
      <%= link_to 'Your notes', notes_path, class: "pure-menu-heading" %>
      <%= render 'notes/note_list' %>
    </nav>
  </div><div class="pure-u-4-5">
    <main>
    <%= yield %>
    </main>
  </div>
</div>

</body>
</html>
