<!DOCTYPE html>
<html>
<head>
  <title>FeverNotes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">FeverNotes</a>

  <ul>
  <%= render 'devise/menu/login_items' %>
  <%= render 'devise/menu/registration_items' %>
  </ul>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
