<!DOCTYPE html>
<html>
<head>
  <title>FeverNotes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="pure-g-r">
    <div class="pure-u">
      <%= render 'devise/menu/login_items' %>
      <%= render 'devise/menu/registration_items' %>
    </div>
    <div class="pure-u-1">
    <%= yield %>
    </div>
</div>

</body>
</html>
